@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

body {
    background-color: var(--body-color);
    font-family: 'Space Grotesk', sans-serif;
};

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

:root{
   --first-color: #0364c5;
   --second-color: #c4c4c4;
   --body-color: #010f1d;
   --white-color: #ffff; 
}
.logo{
    width: 60px;
    height: 60px;
}
.imagens img{
    margin-left: 10px;
    width: 40px;
    height: 40px;

}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.navbaralgumacoisa{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    align-items: left;
}
.imagens{
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}